@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }

  .card {
    width: 90% !important; 
    height: auto !important;
  }

  .card img {
      width: 80% !important; /* Thu nhỏ kích thước trái cây */
      height: auto !important;
  }
}